@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #746ACA;
}

.LogoType {
  font-weight: 500;
}

.MiddleText {
  font-weight: 400;
  margin-top: 35vh;
}

.BottomText {
  font-weight: 400;
  margin-top: 50px;
}
